@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        visibility: visible;
        opacity: 1;
    }
}
@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}